<main role="main">

  <section class="jumbotron text-center mb-0">
    <div class="container">
      <h1 class="jumbotron-heading">Posts</h1>
      <button type="button" class="btn btn-sm btn-outline-secondary" (click)="showPostForm(true)"><i class="fa fa-plus"></i> Create a new post</button>
      <button type="button" *ngIf="postCreate" class="ml-2 btn btn-sm btn-danger" (click)="showPostForm(false)"><i class="fa fa-times"></i> Cancel</button>

      <div class="container mt-5" *ngIf="postCreate">
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <div class="alert alert-success" role="alert" *ngIf="showSuccess">
                  A cikk beküldése sikerült!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="showError">
                  A cikk beküldése nem sikerült! A mezők kitöltése kötelező.
                </div>
                <div class="text-center col-md-12" *ngIf="postSendLoader">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                </div>
                <form [formGroup]="form" *ngIf="!postSendLoader">
                  <div class="form-group">
                    <label for="title">Post Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" placeholder="Enter Post Title" formControlName="title">
                  </div>
                  <div class="form-group">
                    <label for="body">Body</label>
                    <textarea class="form-control" id="body" placeholder="Enter Post Body" formControlName="body"></textarea>
                  </div>
                  <button type="button" class="btn btn-primary btn-block" (click)="sendPost()">Send</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12" *ngIf="!posts">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div class="col-md-4" *ngFor="let post of posts">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-text">{{post.title}}</h5>
              <hr/>
              <p class="card-text">{{post.body}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['/comments',post.id]">Comments</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
