<main role="main">

  <section class="jumbotron text-center mb-0">
    <div class="container">
      <h1 class="jumbotron-heading">Comments</h1>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="text-center col-md-12" *ngIf="!comments">
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <div class="col-md-12" *ngFor="let comment of comments">
          <div class="row">
            <div class="col"><small class="card-text">{{comment.name}}</small></div>
            <div class="col"><small class="card-text float-right">{{comment.email}}</small></div>
          </div>
          <div class="card mb-4 box-shadow">

            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p class="card-text">{{comment.body}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
